/*global*/
body {
	margin: 0;
	background-color: #1a1714;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 300;
}

section, div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-size: 	150px;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 75px;
	text-align: center;
	font-weight:300;
	margin-top: 0;
	margin-bottom: 0;
    font-variant:small-caps;
}

h3 {
	font-size: 22px;
	text-align: center;
	font-weight:300;
	margin-top: 0;
	margin-bottom: 0;
}

h4 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
    font-variant:small-caps;
}

section {
	min-height: 100vh;
	width: 100vw;
}

.menuButton{
	display:none;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 101;
}
.sectionMask {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .4);
}

.fab {
	color: white;
}

.fa-2x {
	font-size: 1.5em;
}
/*end global*/

/*Main Page */

#home {
	background-image: url("Photos/2 - 3.jpg");
	background-size: cover;
	padding-top: 0;
	position: relative;
	height: 100vh;
	max-height:100vh;
}


.mainPageNav{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.navBar {
	width:100%;
	background-color: rgba(0, 0, 0, 0);
	height: 40px;
	display: flex;
	justify-content: center;
}

.navLinkContainer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 75%;
	max-width: 800px;
}

.navLink {
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 100px;
	text-align: center;
	font-weight: light;
	color: white;
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	border: 2px solid transparent;

}

.navBar:not(.fixedNav) > .navLink:hover {
	border: 2px solid white;
}

.fixedNav {
	width: 100vw;
	position: fixed;
	top: 0;
	background-color: rgba(26,23,20, .6);
	margin-top: 0;
	margin-bottom: 0;
}

.fixedNav + .content {
  padding-top: 40px;
}

.socialMediaBar {
	width: 100%;
	padding-bottom: 35px;
	display: flex;
	margin-top: auto;
	justify-content: center;
}

.alignmentBlock {
	padding-top: 35px;
	margin-bottom: auto;
}

.socialMediaButtons{
	width:20%;
	display: flex;
	justify-content: space-between;
}

/*end main page*/

#band {
	background-color: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 50px 0 50px 0;
}

#bioContainer {
	width: 70%;
	max-width: 725px;
}

#bioContainer > p {
	text-align: center;
	line-height: 2;
}

#liveShows {
	background-image: url("Photos/2 - 6.jpg");
	background-size: cover;
}

#listen {
	width: 100vw;
	background-color: transparent;
	min-height: 0;
}

#listen > #spotifyPlayer{
	float: left;
	padding: 0 100px 0 100px;
}

#listen > #spotifyFollow{
	float: right;
}

#liveShows > .sectionMask {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#press {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
}

#press > div {
	height: 100%;

}
.pressText{
	margin-top:25px;
	margin-bottom: 25px;
	min-width: 60%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.pressTextContainer{
	padding: 0% 75px 0% 75px;
	max-width: 800px;
}

.pressTextContainer > p {
	line-height: 1.8;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pressPhotoContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.listenContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pressPhoto > img {
	max-width: 85%;
	height: auto;
}

.iframeContainer {
	display: flex;
	flex-direction: column;
	float:left;
	width: 80%;
	padding: 25px 0 25px 0;
}

@media(max-width: 768px) {
#home .sectionMask,
.sectionMask,
.mainPageNav,
#navBar,
.navLink,
#band,
#listen,
#press,
.pressPhotoContainer {
	display: block;
}

section {
	height: auto;
}

#bioContainer{
	width:100%;
	padding: 0 15px 0 15px;
}

.navLinkContainer {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	left: 0;
	display: none;
	padding: 100px;
	height: 100vh;
	width: 100vw;
}

.navBar {
	width:50px;
	height: 50px;
}

.visible {
	display: flex;
}

.invisible {
	display: none;
}

.pressPhoto > img {
	max-width: calc(100% - 30px);
	padding: 0 15px 15px 15px;
}

.mobile{
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: #1a1714; ;
}

#home > .sectionMask {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 75px;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	font-size: 50px;
}

h4 {
	font-size: 30px;
}

.alignmentBlock {
	padding-top: 70px;
}

.socialMediaBar {
	justify-content: space-around;
	width: 100%;
	padding-bottom: 70px;
}

.listenContainer {
	min-height: 0;
}

.socialMediaButtons{
	width: 100%;
	justify-content: space-around;
}

}

@media(max-width: 340px){
	h1 {
		font-size: 60px;
	}
}